$font-stack: 100% Helvetica, sans-serif;
$off-white: #E6E6E6;
$prim-green: #A1E75E;
$sec-green: #70A141;
$prim-triad-1: #5ea1e7;
$sec-triad-1: #4b80b8;
$prim-triad-2: #e75ea1;
$sec-triad-2: #b84b80;
$prim-anal-1: #54cf55;
$sec-anal-1: #41a142;
$prim-anal-2: #d7d75d;
$sec-anal-2: #a8a84a;
$prim-comp: #a45ee7;
$sec-comp: #834bb8;

html, body {
    margin: 0;
    color: white;
    font: $font-stack;
    min-width: 1240px;
    background: $off-white;
    font: $font-stack;
}

img {
    border-style: none;
}

a {
    font-weight: bolder;
    color: #224A12;
    &:hover {
        text-decoration: none;
        color: #133917;
    }
}

li {
    text-align: left;
}

input, textarea, select {
    font: 100% Arial, Helvetica, sans-serif;
    vertical-align: middle;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C7C7C7;
    color: #666666;
    font: 100% Arial, Helvetica, sans-serif;
    padding: 4px;
    font-size: 12px;
    margin: 0px;
}

form, fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}

#wrapper {
    height: 100%;
    min-height: 100%;
    width: 100%;
    #header {
        flex-basis: 100%;
    }
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 94px;
    background-color: #8CC63F;
    .bar {
        height: 90px;
        background: -moz-linear-gradient(grey, slategray);
        /* FF 3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, #ffffff));
        /* Safari 4+, Chrome 2+ */
        background: -webkit-linear-gradient(grey, slategray);
        /* Safari 5.1+, Chrome 10+ */
        background: -o-linear-gradient(grey, slategray);
        /* Opera 11.10 */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ffffff');
        /* IE6 & IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ffffff')";
        /* IE8+ */
        background: linear-gradient(grey, slategray);
        /* the standard */
    }
    .holder {
        margin: 0 auto;
        width: 1232px;
        height: 90px;
        position: relative;
    }
    img {
        padding-top: 15px;
    }
    .external-info {
        float: right;
        .lang-box {
            border-bottom-right-radius: 3px;
            -moz-border-radius-bottomright: 3px;
            border-bottom-left-radius: 3px;
            -moz-border-radius-bottomleft: 3px;
            padding: 1px 20px;
            height: 20px;
            font-size: 10px;
            line-height: 20px;
            color: #FFFFFF;
            background: #373E41;
            position: relative;
            float: right;
            margin-left: 100px;
            .lang-txt {
                float: left;
                padding-right: 3px;
            }
            .lang_flags {
                padding: 3px;
                float: left;
                height: 16px;
            }
        }
    }
    .login-box {
        margin: 10px 1px 0 0;
        float: right;
        display: inline;
        color: #eee;
        height: 100%;
    }
    .info-box {
        margin: 16px 1px 0 0;
        float: right;
        display: inline;
        width: 800px;
        color: #eee;
        height: 100%;
    }
}

.input-entry {
    padding-bottom: 2px;
    .input-value input {
        padding: 2px;
        width: 100px;
    }
}

#header {
    .login-box .box, .info-box .box {
        height: 1%;
        text-align: right;
        overflow: visible;
    }
    .login-box .box .tools {
        margin-top: 19px;
    }
    .info-box {
        h4 {
            margin: 0 0 5px;
            font-size: 14px;
            line-height: 16px;
        }
        ul {
            margin: 0 0 3px;
            padding: 0;
            list-style: none;
            text-align: right;
            overflow: hidden;
            li {
                padding-left: 9px;
                display: inline;
                font-size: 11px;
                line-height: 16px;
                background: url(../product_images/separator01.gif) no-repeat 2px 3px;
                &:first-child, &.first-child {
                    padding-left: 0;
                    background: none;
                }
                strong {
                    margin-right: 3px;
                }
            }
        }
        .bookmark-section, p {
            margin: 0;
            font-size: 11px;
            line-height: 20px;
            position: relative;
            overflow: visible;
            float: right;
        }
        .bookmark-section a, .bookmark-set a, ul li a, p a {
            color: #8CC63F;
        }
        .bookmark-section .bookmark-show, .bookmark-set, p span {
            float: right;
            padding-top: 1px;
            padding-left: 23px;
            background: url(../product_images/ico-message.gif) no-repeat scroll 0 3px;
        }
        .bookmark-section {
            .bookmark-show {
                background: url(../product_images/bookmark-list.png) no-repeat scroll 3px 3px;
                margin-right: 5px;
                padding-right: 15px;
                padding-left: 26px;
                border-radius: 3px;
                -moz-border-radius: 3px;
            }
            .bookmark-viewing {
                background: url(../product_images/bookmark-list.png) no-repeat scroll 3px 3px #373E41;
            }
        }
        .bookmark-set {
            background: none;
            margin: 0 35px 0 0;
            font-size: 11px;
            line-height: 20px;
            a {
                padding: 3px 10px;
                height: 20px;
                font-size: 10px;
                line-height: 20px;
                color: #FFFFFF;
                background: #373E41;
                text-align: center;
                position: relative;
                cursor: pointer;
                &:hover {
                    text-decoration: none;
                    color: #333333;
                    background: #DDDDDD;
                }
            }
        }
        .bookmark-section .bookmark-list {
            z-index: 1000;
            -moz-border-radius-bottomleft: 3px;
            -moz-border-radius-bottomright: 3px;
            -moz-border-radius-topright: 3px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
            background: #373E41;
            color: #FFFFFF;
            display: none;
            float: none;
            left: 90px;
            list-style: none outside none;
            padding: 6px 2px;
            position: absolute;
            text-align: center;
            width: 160px;
            li {
                width: 100%;
                background: none;
                a {
                    -moz-border-radius: 0px;
                    border-radius: 0px;
                    background: none;
                    color: #FFFFFF;
                    float: left;
                    text-align: left;
                    width: 126px;
                    cursor: pointer;
                    font-size: 10px;
                    height: 20px;
                    line-height: 20px;
                    padding: 0 3px 0 10px;
                    position: relative;
                    overflow: visible;
                }
            }
        }
    }
}

.remove_bookmark {
    float: right;
    width: 10px;
    padding: 0 2px 0 0;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: none repeat scroll 0 0 #EEEEEE;
    padding: 1px;
    border: 1px solid #AAAAAA;
    color: #444444;
    font-size: 8px;
    font-weight: 900;
    line-height: 10px;
    text-align: center;
    text-decoration: none;
}

#header .info-box .bookmark-section .bookmark-show:hover {
    text-decoration: none;
}

.quicklink-caret {
    display: inline-block;
    border-top: 4px solid #FFFFFF;
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-left: 4px solid rgba(0, 0, 0, 0);
    content: "";
}

#header .info-box .bookmark-set li {
    padding: 0px 0px 3px 0px;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    background: #373E41;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    cursor: pointer;
    display: flex;
    z-index: 1;
    min-width: 150px;
}

#quicklink-button-container a {
    border-radius: 0px;
    -moz-border-radius: 0px;
}

#quicklink-button {
    padding: 0px 7px 0px 7px;
    float: right;
}

#quicklink-button-container {
    #quicklink-dropdown {
        float: right;
        display: none;
        padding: 0px;
        font-size: 11px;
        border-radius: 3px;
        margin: 0px 0px 0px 0px;
    }
    width: 200px;
    float: right;
    margin-right: 35px;
}

.quicklink-button {
    &.left-button {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    &.right-button {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    padding: 0px 10px;
    height: 20px;
    font-size: 10px;
    font-weight: bold;
    line-height: 20px;
    background: #373E41;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    cursor: pointer;
    border: 0px;
    margin-right: 0px;
    margin-left: 0px;
    outline: none;
    &:hover {
        text-decoration: none;
        color: #333333;
        background: #DDDDDD;
    }
}

.quicklink-title.startpage {
    font-weight: bold;
}

#main {
    margin: 0 auto;
    width: 1240px;
    padding-top: 120px;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-between;
    .row {
        height: 300px;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 100%;
        align-items: stretch;
        align-content: stretch;
        .two-box {
            width: 40%;
            height: 80%;
        }
    }
}

.top-box, .bottom-box {
    margin: auto;
    padding: 5px;
    line-height: 25px;
}

.top-box {
    height: 25%;
    background-color: $prim-green;
    border-top-left-radius: 13px;
}

.bottom-box {
    height: 75%;
    background-color: $sec-green;
    border-bottom-right-radius: 13px;
    overflow: auto;
}

.stats-bar {
    flex-grow: 1;
    flex-basis: 1em;
    margin: 10px;
    /* background-color: $off-white; */
}

.stats-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.stats-box {
	text-align: center;	
}

#two-column {
    #offer-box {
        flex-grow: 1;
        flex-basis: 30%;
        margin-right: 1.5em;
        	/*    .bottom-box {
            	background-color: $off-white;
            }*/
    }
    #hs-box {
        flex-grow: 3;
        margin-left: 1em;
        .top-box {
            background-color: $prim-anal-2;
        }
        .bottom-box {
            background-color: $sec-anal-2;
            line-height: 2em;
        }
        .stats-container {
        	align-items: stretch;
        	align-content: flex-end;
        }
    }
    .two-box {}
}

#main-column {
    box-sizing: border-box;
    border: 15px solid slategray;
    background-color: #ccc;
    height: auto;
    margin-bottom: 3em;
    .top-box {
        background-color: $prim-anal-1;
    }
    .bottom-box {
        background-color: $sec-anal-1;
    }
    .top-box, .bottom-box {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
    }
    #graph-box {
        padding: 1em;
        flex-grow: 1;
        flex-basis: 1em;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

#three-column {
    align-items: stretch;
    align-content: stretch;
    .three-box {
        margin: 0 10 10 0;
        width: 30%;
        height: 70%;
    }
    #paysum {
        .top-box {
            background-color: $prim-triad-1;
        }
        .bottom-box {
            background-color: $sec-triad-1;
        }
    }
    #contact {
        .top-box {
            background-color: $prim-triad-2;
        }
        .bottom-box {
            background-color: $sec-triad-2;
        }
    }
}