body {
  margin: 0;
  color: white;
  font: 100% Helvetica, sans-serif;
  min-width: 1240px;
  background: #E6E6E6;
  font: 100% Helvetica, sans-serif;
  animation: bg-move 5s alternate infinite; }

a {
  font-weight: bolder;
  color: #224A12; }
  a:hover {
    text-decoration: none;
    color: #133917; }

li {
  text-align: left; }

input, textarea, select {
  font: 100% Arial, Helvetica, sans-serif;
  vertical-align: middle;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #C7C7C7;
  color: #666666;
  font: 100% Arial, Helvetica, sans-serif;
  padding: 4px;
  font-size: 12px;
  margin: 0px; }

form, fieldset {
  margin: 0;
  padding: 0;
  border-style: none; }

#wrapper {
  position: relative;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%; }

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95px;
  background-color: #8CC63F;
  z-index: 9000; }
  #header .bar {
    height: 90px;
    background: linear-gradient(black, slategray 90%); }
  #header .holder {
    margin: 0 auto;
    width: 1232px;
    height: 90px;
    position: relative; }
    #header .holder .logo {
      display: inline-block;
      margin-top: 1em; }
  #header .external-info {
    float: right; }
    #header .external-info .lang-box {
      border-bottom-right-radius: 3px;
      -moz-border-radius-bottomright: 3px;
      border-bottom-left-radius: 3px;
      -moz-border-radius-bottomleft: 3px;
      padding: 1px 20px;
      height: 20px;
      font-size: 10px;
      line-height: 20px;
      color: #FFFFFF;
      background: #373E41;
      position: relative;
      float: right;
      margin-left: 100px; }
      #header .external-info .lang-box .lang-txt {
        float: left;
        padding-right: 3px; }
      #header .external-info .lang-box .lang_flags {
        padding: 3px;
        float: left;
        height: 16px; }
  #header .login-box {
    margin: 10px 1px 0 0;
    float: right;
    display: inline;
    color: #eee;
    height: 100%; }
  #header .info-box {
    margin: 16px 1px 0 0;
    float: right;
    display: inline;
    width: 800px;
    color: #eee;
    height: 100%; }

.input-entry {
  padding-bottom: 2px; }
  .input-entry .input-value input {
    padding: 2px;
    width: 100px; }

#header .login-box .box, #header .info-box .box {
  height: 1%;
  text-align: right;
  overflow: visible; }
#header .login-box .box .tools {
  margin-top: 19px; }
#header .info-box h4 {
  margin: 0 0 5px;
  font-size: 14px;
  line-height: 16px; }
#header .info-box ul {
  margin: 0 0 3px;
  padding: 0;
  list-style: none;
  text-align: right;
  overflow: hidden; }
  #header .info-box ul li {
    padding-left: 9px;
    display: inline;
    font-size: 11px;
    line-height: 16px;
    background: url(../product_images/separator01.gif) no-repeat 2px 3px; }
    #header .info-box ul li:first-child, #header .info-box ul li.first-child {
      padding-left: 0;
      background: none; }
    #header .info-box ul li strong {
      margin-right: 3px; }
#header .info-box .bookmark-section, #header .info-box p {
  margin: 0;
  font-size: 11px;
  line-height: 20px;
  position: relative;
  overflow: visible;
  float: right; }
#header .info-box .bookmark-section a, #header .info-box .bookmark-set a, #header .info-box ul li a, #header .info-box p a {
  color: #8CC63F; }
#header .info-box .bookmark-section .bookmark-show, #header .info-box .bookmark-set, #header .info-box p span {
  float: right;
  padding-top: 1px;
  padding-left: 23px;
  background: url(../product_images/ico-message.gif) no-repeat scroll 0 3px; }
#header .info-box .bookmark-section .bookmark-show {
  background: url(../product_images/bookmark-list.png) no-repeat scroll 3px 3px;
  margin-right: 5px;
  padding-right: 15px;
  padding-left: 26px;
  border-radius: 3px;
  -moz-border-radius: 3px; }
#header .info-box .bookmark-section .bookmark-viewing {
  background: url(../product_images/bookmark-list.png) no-repeat scroll 3px 3px #373E41; }
#header .info-box .bookmark-set {
  background: none;
  margin: 0 35px 0 0;
  font-size: 11px;
  line-height: 20px; }
  #header .info-box .bookmark-set a {
    padding: 3px 10px;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    color: #FFFFFF;
    background: #373E41;
    text-align: center;
    position: relative;
    cursor: pointer; }
    #header .info-box .bookmark-set a:hover {
      text-decoration: none;
      color: #333333;
      background: #DDDDDD; }
#header .info-box .bookmark-section .bookmark-list {
  z-index: 1000;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-topright: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  background: #373E41;
  color: #FFFFFF;
  display: none;
  float: none;
  left: 90px;
  list-style: none outside none;
  padding: 6px 2px;
  position: absolute;
  text-align: center;
  width: 160px; }
  #header .info-box .bookmark-section .bookmark-list li {
    width: 100%;
    background: none; }
    #header .info-box .bookmark-section .bookmark-list li a {
      -moz-border-radius: 0px;
      border-radius: 0px;
      background: none;
      color: #FFFFFF;
      float: left;
      text-align: left;
      width: 126px;
      cursor: pointer;
      font-size: 10px;
      height: 20px;
      line-height: 20px;
      padding: 0 3px 0 10px;
      position: relative;
      overflow: visible; }

.remove_bookmark {
  float: right;
  width: 10px;
  padding: 0 2px 0 0;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: none repeat scroll 0 0 #EEEEEE;
  padding: 1px;
  border: 1px solid #AAAAAA;
  color: #444444;
  font-size: 8px;
  font-weight: 900;
  line-height: 10px;
  text-align: center;
  text-decoration: none; }

.quicklink-caret {
  display: inline-block;
  border-top: 4px solid #FFFFFF;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: ""; }

#quicklink-button-container a {
  border-radius: 0px;
  -moz-border-radius: 0px; }

#quicklink-button {
  padding: 0px 7px 0px 7px;
  float: right; }

#quicklink-button-container {
  width: 200px;
  float: right;
  margin-right: 35px; }
  #quicklink-button-container #quicklink-dropdown {
    float: right;
    display: none;
    padding: 0px;
    font-size: 11px;
    border-radius: 3px;
    margin: 0px 0px 0px 0px; }

.quicklink-button {
  padding: 0px 10px;
  height: 20px;
  font-size: 10px;
  font-weight: bold;
  line-height: 20px;
  background: #373E41;
  color: #FFFFFF;
  text-align: center;
  position: relative;
  cursor: pointer;
  border: 0px;
  margin-right: 0px;
  margin-left: 0px;
  outline: none; }
  .quicklink-button.left-button {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  .quicklink-button.right-button {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
  .quicklink-button:hover {
    text-decoration: none;
    color: #333333;
    background: #DDDDDD; }

.quicklink-title.startpage {
  font-weight: bold; }

.nav-bar {
  position: absolute;
  top: 90px;
  left: 0;
  width: 1232px;
  height: 62px;
  z-index: 2; }
  .nav-bar .hold {
    padding: 0 1px 3px;
    width: 1230px;
    height: 56px;
    background: url(../product_images/bg-nav-gradient.png) repeat-x #8CC63F;
    background-color: #333;
    border-bottom-right-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px; }

#nav {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: stretch; }
  #nav ul {
    position: absolute; }
  #nav li {
    flex-grow: 1;
    padding: 1em;
    text-align: center;
    box-sizing: border-box;
    border-left: 2px solid #E6E6E6; }
    #nav li:first-child {
      border-left: none; }
    #nav li a {
      padding: 13px 0px 0px 0px;
      font-size: 18px;
      line-height: 16px;
      color: #FFFFFF;
      cursor: pointer;
      text-decoration: none; }
      #nav li a:hover {
        text-decoration: none;
        color: #FFFFFF; }
      #nav li a strong {
        padding: 0 10px 0 18px;
        font-size: 18px;
        line-height: 28px;
        color: #ccc; }
      #nav li a:hover strong {
        animation: fade alternate ease .5s infinite; }
      #nav li a span {
        display: block;
        padding: 1px 10px 0 18px;
        line-height: 13px; }
    #nav li:last-child {
      border-right: none;
      color: brown; }
  #nav .sub-nav, #nav .sub-nav-child {
    position: absolute;
    float: none;
    display: none;
    background: url("../product_images/sub-nav-gradient.png") repeat #8CC63F;
    border: 1px #5A8128 solid;
    padding: 0px;
    font-size: 11px; }
  #nav .sub-nav {
    top: 59px;
    z-index: 1000;
    left: 2px;
    padding-top: 2px;
    width: 98%; }
  #nav .sub-nav-child {
    top: -1px;
    left: 0px;
    padding-top: 0px; }
  #nav .sub-nav li, #nav .sub-nav-child li {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin-left: 0px;
    background: url(../product_images/sub-nav-sep.png) repeat-x; }
  #nav .sub-nav li:first-child, #nav .sub-nav-child li:first-child {
    background: none; }
  #nav .sub-nav li a, #nav .sub-nav-child li a {
    height: 18px;
    padding: 6px 0px 6px 0px;
    width: 100%; }
  #nav .sub-nav li .isParent {
    background: url(../product_images/sub-nav-arrow.png) no-repeat 95% center; }
  #nav .sub-nav-child li a {
    min-width: 150px;
    padding-right: 12px; }
  #nav .sub-nav li:hover, #nav .sub-nav-child li:hover {
    background: #8CC63F; }
  #nav .sub-nav li a strong, #nav .sub-nav-child li a strong {
    padding: 0 0px 0 18px;
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
    color: #FFFFFF; }
  #nav .sub-nav li a:hover, #nav .sub-nav-child li a:hover {
    color: #FFFFFF;
    text-decoration: none; }

#main {
  margin: 0 auto;
  width: 1240px;
  padding-top: 4em;
  text-align: center; }

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between; }
  .flex-container .row {
    height: 300px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    align-items: stretch;
    align-content: stretch; }

.top-box, .bottom-box {
  padding: 5px;
  line-height: 20px; }

.top-box {
  height: 25%;
  background-color: #90cf54;
  border-top-left-radius: 13px; }

.bottom-box {
  height: 75%;
  background-color: #73a543;
  border-bottom-right-radius: 13px;
  overflow: auto; }

.stats-bar {
  flex-grow: 1;
  flex-basis: 1em;
  margin: 10px;
  /* background-color: $off-white; */ }

.stats-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around; }

.stats-box {
  text-align: center; }

#two-column {
  margin-bottom: 3em;
  height: 100%; }
  #two-column #offer-box {
    flex-grow: 1;
    flex-basis: 30%;
    margin-right: 1.5em; }
    #two-column #offer-box .top-box {
      background-color: #bada55; }
    #two-column #offer-box .bottom-box {
      background-color: #94ae44; }
  #two-column #hs-box {
    flex-grow: 9;
    margin-left: 1em; }
    #two-column #hs-box .top-box {
      flex-basis: 100%;
      background-color: #ff6666; }
    #two-column #hs-box .bottom-box {
      flex-basis: 100%;
      height: 100%;
      padding: 15px;
      background-color: #cc5151; }

#main-column {
  height: auto;
  margin-bottom: 3em; }
  #main-column .top-box {
    background-color: #54cf55; }
  #main-column .bottom-box {
    background-color: #41a142; }
  #main-column .top-box, #main-column .bottom-box {
    flex-basis: 100%;
    display: flex;
    justify-content: center; }
  #main-column .graph-box {
    box-sizing: border-box;
    background-color: #ccc;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 1em; }
    #main-column .graph-box img {
      width: 100%;
      height: 100%;
      margin-bottom: -2px; }

#three-column {
  align-items: stretch;
  align-content: stretch; }
  #three-column .three-box {
    margin: 0 10 10 0;
    width: 30%;
    height: 70%; }
  #three-column #news .top-box {
    background-color: #90cf54; }
  #three-column #news .bottom-box {
    background-color: #73a543; }
  #three-column #paysum .top-box {
    background-color: #5490cf; }
  #three-column #paysum .bottom-box {
    background-color: #4373a5; }
  #three-column #contact .top-box {
    background-color: #9354cf; }
  #three-column #contact .bottom-box {
    background-color: #7543a5; }

@keyframes fade {
  to {
    color: white;
    font-size: 22px; } }
@keyframes bg-move {
  from {
    background-postiion: 0 50; }
  50% {
    background-position: 6.25% 0; }
  to {
    background-position: 6.25% 11%; } }
