@font-face {
    font-family: "Expressway";
    src: url("../src/img/ExpressWay/exprswy_free.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: "Roboto";
    src: url("../src/img/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Roboto-Light";
    src: url("../src/img/Roboto/Roboto-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


$font-stack: Roboto, Expressway, Tahoma, Arial, sans-serif;
$font-color: #ccc;
$font-menu-color: #686868;
$off-white: #E6E6E6;

// $prim-green: #90cf54;
// $sec-green: #73a543;
$prim-green: #8AC750;
$sec-green: #6A962B;
$prim-green-hover: #81C044;
$sec-green-hover: #5F8C1F;

$prim-triad-1: #5490cf;
$sec-triad-1: #4373a5;
$prim-triad-1-hover: #498ACE;
$sec-triad-1-hover: #36689C;

$prim-triad-2: #cf5490;
$sec-triad-2: #a54373;

$prim-anal-1: #54cf55;
$sec-anal-1: #41a142;

$prim-anal-2: #cecf54;
$sec-anal-2: #a4a543;

$prim-beige: #a48961;
$sec-beige: #7b6749;
$prim-beige-hover: #987F58;
$sec-beige-hover: #705C3D;

$prim-cadet: #7ac5cd;
$sec-cadet: #619da4;
$prim-cadet-hover: #7ABdC4;
$sec-cadet-hover: #558E96;

$prim-bada55: #bada55;
$sec-bada55: #94ae44;

$prim-red: #d56565;
$sec-red: #aa5050;
$prim-red-hover: #CD5959;
$sec-red-hover: #A04343;

body {
    font-family: $font-stack;
    margin: 0;
    color: $off-white;
    font: $font-stack;
    min-width: 1240px;
    background: $off-white;
    font: $font-stack;
}

a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

li {
    text-align: left;
}

input, textarea, select {
    font: 100% Arial, Helvetica, sans-serif;
    vertical-align: middle;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C7C7C7;
    color: #666666;
    font: 100% Arial, Helvetica, sans-serif;
    padding: 4px;
    font-size: 12px;
    margin: 0px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

form, fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}

#wrapper {
    position: relative;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95px;
    background-color: #8CC63F;
    .bar {
        height: 90px;
        background: linear-gradient(black, #444 99%);
    }
    .holder {
        margin: 0 auto;
        width: 1232px;
        height: 90px;
        position: relative;
        .logo {
            display: inline-block;
            margin-top: 1em;
        }
    }
    .external-info {
        float: right;
        .lang-box {
            border-bottom-right-radius: 3px;
            -moz-border-radius-bottomright: 3px;
            border-bottom-left-radius: 3px;
            -moz-border-radius-bottomleft: 3px;
            padding: 1px 20px;
            height: 20px;
            font-size: 10px;
            line-height: 20px;
            color: #FFFFFF;
            background: #373E41;
            position: relative;
            float: right;
            margin-left: 100px;
            .lang-txt {
                float: left;
                padding-right: 3px;
            }
            .lang_flags {
                padding: 3px;
                float: left;
                height: 16px;
            }
        }
    }
    .login-box {
        margin: 10px 1px 0 0;
        float: right;
        display: inline;
        color: #eee;
        height: 100%;
    }
    .info-box {
        margin: 1em 1px 0 0;
        float: right;
        display: inline-block;
        width: 800px;
        color: #eee;
        height: 100%;
    }
}

.input-entry {
    padding-bottom: 2px;
    .input-value input {
        padding: 2px;
        width: 100px;
    }
}

#header {
    .login-box .box, .info-box .box {
        height: 1%;
        text-align: right;
        overflow: visible;
    }
    .login-box .box .tools {
        margin-top: 19px;
    }
    .info-box {
        h4 {
            margin: 0 0 5px;
            font-size: 1em;
            line-height: 1em;
        }
        ul {
            margin: 0 0 3px;
            padding: 0;
            list-style: none;
            text-align: right;
            overflow: hidden;
            li {
                padding-left: 9px;
                display: inline;
                font-size: 11px;
                line-height: 16px;
                background: url(../product_images/separator01.gif) no-repeat 2px 3px;
                &:first-child, &.first-child {
                    padding-left: 0;
                    background: none;
                }
                strong {
                    margin-right: 3px;
                }
            }
        }
        .bookmark-section, p {
            margin: 0;
            font-size: 11px;
            line-height: 20px;
            position: relative;
            overflow: visible;
            float: right;
        }
        .bookmark-section a, .bookmark-set a, ul li a, p a {
            color: #8CC63F;
        }
        .bookmark-section .bookmark-show, .bookmark-set, p span {
            float: right;
            padding-top: 1px;
            padding-left: 23px;
            background: url(../product_images/ico-message.gif) no-repeat scroll 0 3px;
        }
        .bookmark-section {
            .bookmark-show {
                background: url(../product_images/bookmark-list.png) no-repeat scroll 3px 3px;
                margin-right: 5px;
                padding-right: 15px;
                padding-left: 26px;
                border-radius: 3px;
                -moz-border-radius: 3px;
            }
            .bookmark-viewing {
                background: url(../product_images/bookmark-list.png) no-repeat scroll 3px 3px #373E41;
            }
        }
        .bookmark-set {
            background: none;
            margin: 0 35px 0 0;
            font-size: 11px;
            line-height: 20px;
            a {
                padding: 3px 10px;
                height: 20px;
                font-size: 10px;
                line-height: 20px;
                color: #FFFFFF;
                background: #373E41;
                text-align: center;
                position: relative;
                cursor: pointer;
                &:hover {
                    text-decoration: none;
                    color: #333333;
                    background: #DDDDDD;
                }
            }
        }
        .bookmark-section .bookmark-list {
            z-index: 1000;
            -moz-border-radius-bottomleft: 3px;
            -moz-border-radius-bottomright: 3px;
            -moz-border-radius-topright: 3px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
            background: #373E41;
            color: #FFFFFF;
            display: none;
            float: none;
            left: 90px;
            list-style: none outside none;
            padding: 6px 2px;
            position: absolute;
            text-align: center;
            width: 160px;
            li {
                width: 100%;
                background: none;
                a {
                    -moz-border-radius: 0px;
                    border-radius: 0px;
                    background: none;
                    color: #FFFFFF;
                    float: left;
                    text-align: left;
                    width: 126px;
                    cursor: pointer;
                    font-size: 10px;
                    height: 20px;
                    line-height: 20px;
                    padding: 0 3px 0 10px;
                    position: relative;
                    overflow: visible;
                }
            }
        }
    }
}

.remove_bookmark {
    float: right;
    width: 10px;
    padding: 0 2px 0 0;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: none repeat scroll 0 0 #EEEEEE;
    padding: 1px;
    border: 1px solid #AAAAAA;
    color: #444444;
    font-size: 8px;
    font-weight: 900;
    line-height: 10px;
    text-align: center;
    text-decoration: none;
}

.quicklink-caret {
    display: inline-block;
    border-top: 4px solid #FFFFFF;
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-left: 4px solid rgba(0, 0, 0, 0);
    content: "";
}

#quicklink-button-container a {
    border-radius: 0px;
    -moz-border-radius: 0px;
}

#quicklink-button {
    padding: 0px 7px 0px 7px;
    float: right;
}

#quicklink-button-container {
    #quicklink-dropdown {
        float: right;
        display: none;
        padding: 0px;
        font-size: 11px;
        border-radius: 3px;
        margin: 0px 0px 0px 0px;
    }
    width: 200px;
    float: right;
    margin-right: 35px;
}

.quicklink-button {
    &.left-button {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    &.right-button {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    padding: 0px 10px;
    height: 20px;
    font-size: 10px;
    font-weight: bold;
    line-height: 20px;
    background: #373E41;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    cursor: pointer;
    border: 0px;
    margin-right: 0px;
    margin-left: 0px;
    outline: none;
    &:hover {
        text-decoration: none;
        color: #333333;
        background: #DDDDDD;
    }
}

.quicklink-title.startpage {
    font-weight: bold;
}

.nav-bar {
    position: absolute;
    top: 90px;
    left: 0;
    width: 1232px;
    height: 62px;
    z-index: 2;
    .hold {
        padding: 0 1px 3px;
        width: 1230px;
        height: 56px;
        background: url(../product_images/bg-nav-gradient.png) repeat-x #8CC63F;
        background-color: #333;
        border-bottom-right-radius: 8px;
        -moz-border-radius-bottomright: 8px;
        border-bottom-left-radius: 8px;
        -moz-border-radius-bottomleft: 8px;
    }
}

#nav {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: stretch;
    ul {
        position: absolute;
    }
    li {
        flex-grow: 1;
        padding: 1em;
        text-align: center;
        box-sizing: border-box;
        a {
            padding: 13px 0px 0px 0px;
            font-size: 18px;
            line-height: 16px;
            color: #FFFFFF;
            cursor: pointer;
            text-decoration: none;
            &:hover {
                text-decoration: none;
                color: #FFFFFF;
            }
            strong {
                padding: 0 10px 0 18px;
                font-size: 18px;
                line-height: 28px;
                color: $font-color;
                transition: color .5s, font-size .5s;
            }
            &:hover strong {
                color: white;
                //color: $prim-bada55;
                font-size: 1.35em;
                opacity: 1;
            }
            span {
                display: block;
                padding: 1px 10px 0 18px;
                line-height: 13px;
            }
        }
    }
    li ~ li {
        border-left: 2px solid $off-white;
    }
    .sub-nav, .sub-nav-child {
        position: absolute;
        float: none;
        display: none;
        background: url("../product_images/sub-nav-gradient.png") repeat #8CC63F;
        border: 1px #5A8128 solid;
        padding: 0px;
        font-size: 11px;
    }
    .sub-nav {
        top: 59px;
        z-index: 1000;
        left: 2px;
        padding-top: 2px;
        width: 98%;
    }
    .sub-nav-child {
        top: -1px;
        left: 0px;
        padding-top: 0px;
    }
    .sub-nav li, .sub-nav-child li {
        height: 100%;
        width: 100%;
        padding: 0px;
        margin-left: 0px;
        background: url(../product_images/sub-nav-sep.png) repeat-x;
    }
    .sub-nav li:first-child, .sub-nav-child li:first-child {
        background: none;
    }
    .sub-nav li a, .sub-nav-child li a {
        height: 18px;
        padding: 6px 0px 6px 0px;
        width: 100%;
    }
    .sub-nav li .isParent {
        background: url(../product_images/sub-nav-arrow.png) no-repeat 95% center;
    }
    .sub-nav-child li a {
        min-width: 150px;
        padding-right: 12px;
    }
    .sub-nav li:hover, .sub-nav-child li:hover {
        background: #8CC63F;
    }
    .sub-nav li a strong, .sub-nav-child li a strong {
        padding: 0 0px 0 18px;
        font-size: 12px;
        line-height: 16px;
        white-space: nowrap;
        color: #FFFFFF;
    }
    .sub-nav li a:hover, .sub-nav-child li a:hover {
        color: #FFFFFF;
        text-decoration: none;
    }
}

///////////////////////////
//                       //
//   GENERIC SELECTORS   //
//                       //
///////////////////////////
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-between;
}

.row {
    height: 18em;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    align-items: stretch;
    align-content: stretch;
}

.panel {
    .top-box, .bottom-box {
        transition: all .1s ease-in-out;
        padding: .33em;
    }
}

.top-box {
    background-color: $prim-green;
    border-top-left-radius: .8em;
    line-height: 1em;
    header {
        box-sizing: border-box;
        text-align: center;
        position: relative;
        h2 {
            display: inline-block;
            font-weight: bolder;
            transition: all .1s ease-in-out;
            opacity: 0.8;
            &:hover {
                color: white;
                opacity: 1;
                font-weight: 900;
            }
        }
    }
    .icon {
        position: absolute;
        top: .3em;
        right: .3em;
        opacity: .7;
        display: inline-block;
        transition: all .15s linear;
        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }
}

.bottom-box {
    max-height: 75%;
    line-height: 1.25em;
    background-color: $sec-green;
    border-bottom-right-radius: .8em;
    overflow: hidden;
}

.stats-bar {
    flex-grow: 1;
    flex-basis: 1em;
    /* background-color: $off-white; */
}

.stats-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.stats-box {
    text-align: center;
    display: flex;
    justify-content: space-around;
    opacity: 0.6;
    .left-stats-box {
        flex-grow: 1;
        padding-top: 1.5em;
        padding-right: 1.2em;
        i {}
    }
    .right-stats-box {
        flex-grow: 1;
    }
    transition: all .3s ease-in-out;
    &:hover {
        opacity: 1;
        /* i {
            cursor: pointer;
        } */
    }
    &:active {
        color: #333;
    }
}

.menu {
    // font-family: Roboto-Light;
    position: absolute;
    background: #ddd;
    width: 9em;
    margin: auto;
    padding: 0;
    list-style: none;
    overflow: hidden;
    border-radius: 5px;
    top: 3em;
    right: 0em;
    z-index: 1;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    li ~ li {
        border-top: 1px solid #bbb;
    }
    li {
        padding-left: 1em;
        box-sizing: border-box;
        line-height: 3em;
        display: block;
        overflow: hidden;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        font-family: Roboto;
        color: $font-menu-color;
        transition: all 0.1s linear;
        &:hover {
            background-color: #bcbcbc;
            color: white;
            cursor: pointer;
            // font-size: 15px;
            border-left: .75em solid #aaa;
            padding-left: .75em;
            font-weight: 900;
        }
        &:after {
            background-color: green;
        }
    }
    #hs-menu {
        z-index: 100;
    }
    #p_graph-menu {
        z-index: -100;
    }
}

.subnav {
    margin: 0;
    padding: 0;
    li {
        &:first-child {
            border-top: 1px solid #bbb;
        }
        background: #ccc;
        font-size: 12px;
        &:hover {
        }
    }
}

.hidden {
    display: none;
}

.rotated {
    transform: rotateY(180deg);
}

/////////////////////////
//                     //
//   PANEL SELECTORS   //
//                     //
/////////////////////////
#main {
    margin: 0 auto;
    width: 77.5em;
    padding-top: 12em;
    text-align: center;
}

#reminder {
    margin-bottom: 3em;
    height: 200px;
    z-index: 100;
    .offer-box {
        flex-grow: 2;
        margin-right: 1.5em;
        .top-box {
            .swap-wrapper {
                display: inline-block;
                .swap {
                    vertical-align: top;
                    span {
                        position: absolute;
                    }
                }
            }
        }
        .bottom-box {}
        &:hover {
            .top-box {
                background-color: $prim-green-hover;
            }
            .bottom-box {
                background-color: $sec-green-hover;
            }
        }
        .hidden {
            display: none;
        }
    }
    .network {
        .top-box {
            background-color: $prim-red;
        }
        .bottom-box {
            background-color: $sec-red;
        }
        &:hover {
            .top-box {
                background-color: $prim-red-hover;
            }
            .bottom-box {
                background-color: $sec-red-hover;
            }
        }
    }
    #hs-box {
        flex-grow: 3;
        margin-left: 1em;
        .top-box {
            flex-basis: 100%;
            background-color: $prim-cadet;
        }
        .bottom-box {
            flex-basis: 100%;
            height: 100%;
            padding: 15px;
            background-color: $sec-cadet;
        }
        &:hover {
            .top-box {
                background-color: $prim-cadet-hover;
            }
            .bottom-box {
                background-color: $sec-cadet-hover;
            }
        }
    }
}

#main-column {
    height: auto;
    margin-bottom: 3em;
    justify-content: center;
    .graph-box {
        .top-box {
            border-radius: 0em;
            background-color: #aaa;
            h2 {
                color: #ddd;
                transition: all .5s;
            }
        }
        .bottom-box {
            border-radius: 0em;
            box-sizing: border-box;
            background-color: #ccc;
            padding: 1.25em;
            // border: 15px solid slategray;
            height: 18em;
            flex-grow: 1;
            flex-basis: 1em;
            #p_chart, #h_chart {
                width: 35.75em;
                height: 15.5em;
            }
        }
        &:hover {
            .top-box {
                background-color: #a6a6a6;
                h2 {
                    transform: skew(360deg);
                    color: $off-white;
                }
            }
            .bottom-box {
                background-color: #c6c6c6;
            }
        }
    }
    #v_divider {
        width: 1em;
        background-color: #999;
        transition: all .15s ease-in-out;
        &:hover {
            background-color: #969696;
        }
    }
}

#three-column {
    align-items: stretch;
    align-content: stretch;
    .three-box {
        margin: 0 10 10 0;
        width: 30%;
        height: 70%;
    }
    #news {
        .top-box {
            background-color: $prim-red;
        }
        .bottom-box {
            background-color: $sec-red;
        }
        &:hover {
            .top-box {
                background-color: $prim-red-hover;
            }
            .bottom-box {
                background-color: $sec-red-hover;
            }
        }
    }
    #paysum {
        .top-box {
            background-color: $prim-triad-1;
        }
        .bottom-box {
            background-color: $sec-triad-1;
        }
        &:hover {
            .top-box {
                background-color: $prim-triad-1-hover;
            }
            .bottom-box {
                background-color: $sec-triad-1-hover;
            }
        }
    }
    #contact {
        .top-box {
            background-color: $prim-beige;
        }
        .bottom-box {
            background-color: $sec-beige;
        }
        &:hover {
            .top-box {
                background-color: $prim-beige-hover;
            }
            .bottom-box {
                background-color: $sec-beige-hover;
            }
        }
    }
}