// @import "bootstrap";
// @import "font-awesome";

@font-face {
    font-family: "Roboto";
    src: url("../../src/img/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Expressway";
    src: url("../../src/img/ExpressWay/exprswy_free.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: "Roboto-Light";
    src: url("../../src/img/Roboto/Roboto-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


// $font-stack: Roboto-Light, Tahoma, Arial, sans-serif;
$font-color: #ccc;
$font-menu-color: #686868;
$off-white: #E6E6E6;

// $prim-green: #90cf54;
// $sec-green: #73a543;
$prim-green: #8AC750;
$sec-green: #6A962B;
$prim-green-hover: #81C044;
$sec-green-hover: #5F8C1F;

$prim-triad-1: #5490cf;
$sec-triad-1: #4373a5;
$prim-triad-1-hover: #498ACE;
$sec-triad-1-hover: #36689C;

$prim-triad-2: #cf5490;
$sec-triad-2: #a54373;

$prim-anal-1: #54cf55;
$sec-anal-1: #41a142;

$prim-anal-2: #cecf54;
$sec-anal-2: #a4a543;

$prim-bada55: #bada55;
$sec-bada55: #94ae44;

$prim-beige: #a48961;
$sec-beige: #7b6749;
$prim-beige-hover: #987F58;
$sec-beige-hover: #705C3D;

$prim-cadet: #7ac5cd;
$sec-cadet: #619da4;
$prim-cadet-hover: #7ABdC4;
$sec-cadet-hover: #558E96;

$prim-red: #d56565;
$sec-red: #aa5050;
$prim-red-hover: #CD5959;
$sec-red-hover: #A04343;

body {
    // font-family: $font-stack;
    font-size: 16px;
    margin: 0;
    color: $off-white;
    min-width: 1240px;
    background: $off-white;
}

a {
    transition: all .5s linear;
    color: white;
    &:hover {
        text-decoration: none;
    }
    &:active {
        color: white;
    }
    &:visited {
        color: white;
    }
}

li {
    text-align: left;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#wrapper {
    position: relative;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}

///////////////////////////
//                       //
//   GENERIC SELECTORS   //
//                       //
///////////////////////////
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-between;
}

.row {
    margin: auto;
    &:before, &:after {
        content: none;
    }
}

.panel {
    margin-bottom: auto;
    border-radius: 6px;
    border: transparent;
    background-color: transparent;
    box-shadow: 6px 6px 10px 1px #aaa;
    .top-box, .bottom-box {
        transition: all .1s ease-in-out;
    }
}

.top-box {
    background-color: $prim-green;
    border-radius: 6px 6px 0 0;
    padding-bottom: .25em;
    header {
        position: relative;
        h2 {
            margin-top: none;
            display: inline-block;
            transition: all .1s ease-in-out;
            opacity: 0.8;
            &:hover {
                color: white;
                opacity: 1;
            }
        }
    }
}

.bottom-box {
    border-radius: 0 0 6px 6px;
    padding: 1em;
    max-height: 10em;
    background-color: $sec-green;
    overflow: auto;
}

.stats-bar {
    flex-grow: 1;
    flex-basis: 1em;
    /* background-color: $off-white; */
}

.stats-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.stats-box {
    text-align: center;
    display: flex;
    box-sizing: border-box;
    opacity: 0.6;
    padding: .5em 1em;
    border-radius: 1em;
    font-family: Roboto;
    .left-stats-box {
        padding-top: 1.2em;
        padding-right: 1.2em;
        i {}
    }
    .right-stats-box {
        h3 {
            margin-top: .5em;
        }
        padding: auto;
    }
    transition: all .2s ease-in-out;
    &:hover {
        opacity: 1;
        cursor: default;
    }
    &:active {
        // background-color: $prim-cadet-hover;
        // border: .5em inset $sec-cadet;
        color: #2a2a2a;
    }
}

.icon {
    padding-top: 0;
    opacity: .7;
    display: inline-block;
    transition: all .1s linear;
    &:hover {
        cursor: pointer;
        opacity: 1;
        color: $off-white;
    }
}

/* MENU SELECTORS */
.dropdown {
    position: absolute;
    display: inline-block;
    top: 12px;
    right: 12px;
    .dropdown-menu-right {
        top: 3em;
    }
}

.menu {
    display: none;
    background: #ddd;
    margin: auto;
    padding: 0;
    list-style: none;
    overflow: hidden;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    li ~ li {
        border-top: 1px solid #bbb;
    }
    li {
        padding-left: 1em;
        line-height: 3em;
        display: block;
        overflow: hidden;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        font-family: Roboto;
        color: $font-menu-color;
        transition: all 0.1s linear;
        &:hover {
            background-color: #bcbcbc;
            color: white;
            cursor: pointer;
            font-size: 15px;
            border-left: .75em solid #aaa;
            padding-left: .75em;
            font-weight: 900;
        }
        &:after {
            background-color: green;
        }
    }
    #hs-menu {
        z-index: 100;
    }
    #p_graph-menu {
        z-index: -100;
    }
}

.subnav {
    margin: 0;
    padding: 0;
    li {
        &:first-child {}
        background: #ccc;
        font-size: 12px;
        &:hover {
            font-size: 13px;
        }
    }
}

.hidden {
    display: none;
}

.rotated {
    transform: rotateY(180deg);
}

/////////////////////////
//                     //
//   PANEL SELECTORS   //
//                     //
/////////////////////////
#main {
    margin: 0 auto;
    width: 77.5em;
    padding: 12em 0 2em;
    text-align: center;
}

#reminders {
    margin-bottom: 3em;
    z-index: 100;
}

#offer-box {
    flex-grow: 1;
    flex-basis: 20%;
    margin-right: 1.5em;
    &:hover {
        .top-box {
            background-color: $prim-green-hover;
        }
        .bottom-box {
            background-color: $sec-green-hover;
            height: 8em;
        }
    }
}

.swap-wrapper {
    display: inline-block;
    .swap {
        vertical-align: top;
        span {
            position: absolute;
        }
    }
    #metric-btn-wrapper {
        position: relative;
        top: .5em;
        right: -1em;
        span {
            position: relative;
        }
    }
    #swap3 {
        vertical-align: 95%;
    }
}

#swap-network {
    font-size: .75em;
}

#swap3 {
    font-size: 24px;
}

#metric-btn {
    z-index: 999;
    button {
        background-color: $prim-green;
        // width: 34px;
        // height: 34px;
        color: white;
        span {
            opacity: .7;
        }
        &:hover {
            opacity: 1;
            background-color: $prim-green;
        }
        &:active {
            border: 1px solid transparent;
        }
        &:focus {
            border: 1px solid transparent;
        }
    }
    .menu {
        width: 8em;
    }
}

#hs-box {
    flex-grow: 2;
    flex-basis: 30%;
    margin-left: 1em;
    z-index: 200;
    .top-box {
        background-color: $prim-cadet;
    }
    .bottom-box {
        background-color: $sec-cadet;
    }
    &:hover {
        .top-box {
            background-color: $prim-cadet-hover;
        }
        .bottom-box {
            background-color: $sec-cadet-hover;
        }
    }
}

#main-column {
    height: auto;
    margin-bottom: 3em;
    // justify-content: stretch;
}

.graph-box {
    .top-box {
        background-color: #aaa;
        h2 {
            color: #ddd;
            transition: all .5s;
        }
    }
    .bottom-box {
        background-color: #ccc;
        padding: 1.25em;
        // border: 15px solid slategray;
        min-height: 18em;
        flex-grow: 1;
        flex-basis: 1em;
        #p_chart, #h_chart {
            width: 35.75em;
            height: 15.5em;
        }
    }
    &:hover {
        .top-box {
            background-color: #a6a6a6;
            h2 {
                color: $off-white;
            }
        }
        .bottom-box {
            background-color: #c6c6c6;
        }
    }
}

#v_divider {
    width: 1px;
    background-color: #ccc;
    transition: all .15s ease-in-out;
}

#three-column {
    align-items: stretch;
    align-content: stretch;
    .three-box {
        margin: 0 10 10 0;
        width: 31%;
        height: 70%;
        .bottom-box {
            height: 10em;
        }
    }
}

#news {
    .top-box {
        background-color: $prim-red;
    }
    .bottom-box {
        background-color: $sec-red;
    }
    &:hover {
        .top-box {
            background-color: $prim-red-hover;
        }
        .bottom-box {
            background-color: $sec-red-hover;
        }
    }
}

#paysum {
    .top-box {
        background-color: $prim-triad-1;
    }
    .bottom-box {
        background-color: $sec-triad-1;
    }
    &:hover {
        .top-box {
            background-color: $prim-triad-1-hover;
        }
        .bottom-box {
            background-color: $sec-triad-1-hover;
        }
    }
}

#contact {
    .top-box {
        background-color: $prim-beige;
    }
    .bottom-box {
        background-color: $sec-beige;
    }
    &:hover {
        .top-box {
            background-color: $prim-beige-hover;
        }
        .bottom-box {
            background-color: $sec-beige-hover;
        }
    }
}